<section class="url">
  <h2>
    <%= link_to "codly.chrisodonnell.io/#{@url.short_url}", "#{root_url}#{@url.short_url}"  %>
  </h2>
  <p>
    <%= @url.full_url %>
  </p>
</section>

<p>
  <b>Shortened:</b>
  <%= @url.shortened_count %> times
</p>

<p>
  <b>Redirected:</b>
  <%= @url.redirect_count %> times
</p>

<br />
<%= link_to 'Home', root_path %>
