<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "codfi.sh" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="page-wrapper">
    <div id="logo"><%= link_to "codfi.sh", root_path, :class => 'brand' %></div>

    <%= render 'layouts/nav' %>

    <div id="content">
      <%= render 'layouts/devise_messages' %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
